<header id="header">
  <nav class="container">
    <div class="logo">
      <i class="fas fa-code"></i>
      <span>DevPortfolio</span>
    </div>

    <ul class="nav-links" id="navLinks">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#proyectos">Proyectos</a></li>
      <li><a href="#habilidades">Habilidades</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>

    <button class="menu-toggle" id="menuToggle">
      <i class="fas fa-bars"></i>
    </button>
  </nav>
</header>
